<html>
    <body>
        <form action="/vads-payment/" method="POST">
            <table>
                <tr>
                    <td>vads_url_checks</td><td><input type="text" name="vads_url_checks" /></td>
                </tr>
                <tr>
                    <td>vads_url_checks</td><td><input type="text" name="vads_url_checks" /></td>
                </tr>
                <tr><td></td><td><input type="submit"/></td></tr>
            </table>
            <p>
        </form>
    </body>
</html>